@import url(/node_modules/@fontsource/montserrat/400.css);
@import url(/node_modules/@fontsource/fraunces/400.css);

$main-typograpy: "Montserrat", sans-serif;
$secondary-typography: "Fraunces", serif;

$main-size: 0.875rem;
